body{
  background-color: black;
}
input{
  width: 100%;
}
.kg-btn{
min-width: 80px;
margin-left: 15px;
}

.kg-row{
  margin: 10px 5px;
}

/* .btn-add{
  /* text-align: left 5px; */
  /* width: 100%; */
 

